@import "../css/global/global.css";
@import "../css/global/header.css";

/* Home */
@import "../css/home/introducao.css";
@import "../css/home/destaques.css";
@import "../css/home/unidades.css";

/* Componentes */
@import "../css/utilidades/componentes.css";