.lojas-locais .subtitulo {
  color: #f3b312;
}
.lojas-endereco {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 60px;
}
.lojas-endereco li {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: #b60425;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

