@font-face {
  font-family: "Argentum Sans";
  src: url('../../fontes/argentum-sans.regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url('../../fontes/argentum-sans.bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url('../../fontes/argentum-sans.light.ttf') format("truetype");
  font-weight:100;
  font-style:normal;
}