body {
  margin: 0px;
  font-family: "Argentum Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}


a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}