.header-bg {
  background-color: #a60321;
}
#btnMobile {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 20px;
}
.header-menu {
  display: flex;
  color: #fff;
  font-family: "Argentum Sans", sans-serif;
  font-size: 1.3rem;
  gap: 40px;
}
.header-menu a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transform: scaleX(0);
  transition: 0.3s;
}
.header-menu a:hover::after{
  transform: scaleX(1);
}
@media (max-width: 800px) {
  .header-menu {
    display: block;
    position: absolute;
    background-color: #bf0628;
    width: 100%;
    height: 0px;
    transition: .5s;
    top: 105px;
    right: 0px;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 0 0 8px 8px;
  }
  #nav.active .header-menu {
    height: calc(100vh - 105px);
    height: 276px;
    visibility: visible;
    overflow-y: auto;
  }
  .header-menu li a {
    display: block;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 2px solid #D92344;
  }
  .header-menu li a:last-child {
    border: none;
  }
  .header-menu a::after {
    display: none;
  }
  #btnMobile{
    display: flex;
    padding: 20px;
    font-size: 1.3rem;
    align-items: start;
    font-family: "Argentum Sans", sans-serif;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    gap: 10px;
    background-color: #bf0628;
    border-radius: 8px;
  }
  #hamburger{
    width: 22px;
    height: 2px;
    display: block;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    top: -7px;
  }
  #hamburger::after, #hamburger::before {
    content: "";
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: currentColor;
    display: block;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #hamburger::before {
    margin-top: 7px;
  }
  #nav.active #hamburger {
    background-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);

  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
