.header-bg {
  background-color: #A60321;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 20px;
}

.header-menu {
  display: flex;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  gap: 60px;
}
.header-menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  border-radius: 4px;
}
.header-menu a:hover::after{
  width: 100%;
  transition: 0.3s;
}

@media (max-width:800px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .header-menu {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .header-menu li {
    background-color: #BF0628;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
  }
  .header-menu a::after {
    display: none;
  }
}