.header-bg {
  background-color: #A60321;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
}
.header-menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  border-radius: 4px;
}
.header-menu a:hover::after{
  width: 100%;
  transition: 0.3s;
}