
.cardapio-main h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.cardapio {
  display: flex;
  gap: 20px;
}
.cardapio-items  h3{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cardapio-items h3::before {
  content: "";
  width: 10px;
  height: 5px;
  background-color:#FEBA13;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}
.cardapio-items a:hover h3::before {
  width: 15px ;
  transition: 0.3s;
}

.cardapio-items img {
  border-radius: 8px;
  width: 400px;
  margin-bottom: 20px;
}
