.destaques-bg h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #feba13;;
}
.destaques {
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
  margin-bottom: 100px;
}

.titulo-texto h3 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.titulo-texto {
  background-color: #A60321;
  border-radius: 0 0 8px 8px;
  padding: 20px 10px;
  color: #fff;
}

.titulo-texto h3::before {
  content: "";
  width: 10px;
  height: 5px;
  background-color: #feba13;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}
.titulo-texto a:hover h3::before {
  width: 15px;
  transition: 0.3s;
}

.destaques-items img {
  border-radius: 8px 8px 0 0;
  width: 400px;
  min-width: 200px;
}

@media (max-width:800px) {
  .destaques {
    overflow-x: auto;
  }
}