.destaques-bg h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #feba13;;
}
.destaques {
  display: flex;
  margin-bottom: 100px;
  gap: 60px;
  overflow-x: auto;
}
.titulo-texto h3 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.titulo-texto {
  background-color: #A60321;
  border-radius: 0 0 8px 8px;
  padding: 20px 10px;
  color: #fff;
  max-width: 350px;
  box-sizing: border-box;
}

.titulo-texto h3::before {
  content: "";
  width: 10px;
  height: 5px;
  background-color: #feba13;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}
.titulo-texto a:hover h3::before {
  width: 15px;
  transition: 0.3s;
}
.titulo-texto span {
  color: #feba13;

}

.destaques-items img {
  border-radius: 8px 8px 0 0;
  width: 350px;
  min-width: 250px;
}

@media (max-width:800px) {
  .destaques {
    overflow-x: auto;
  }
}