.destaques-bg .subtitulo {
  color: #feba13;;
}
.destaques {
  display: flex;
  gap: 60px;
  color: #fff;
  overflow-x: auto;
  margin-bottom: 100px;
  padding-bottom: 20px;
}
.destaques li {
  flex: 1;
  background-color: #A60321;
  border-radius: 8px;
}
.destaques img {
  min-width: 300px;
  border-radius: 8px 8px 0 0;
}
.destaques p {
  padding:  0 10px 10px 10px;
}
.destaques h3 {
  padding:10px;
  display: flex;
  align-items: center;
}
.destaques li h3::before {
  content: "";
  width: 10px;
  height: 5px;
  background-color: #feba13;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}
.destaques a:hover h3::before {
  width: 15px;
  transition: 0.3s;
}
.destaques span {
  color: #feba13;
}
