.eventos-bg {
  background-color: #A60321;
  box-shadow: inset 0 -80px #fff, inset 0 80px #fff;;
}

.eventos {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 100px;
  color: #fff;
}
.eventos .subtitulo {
  padding-top: 120px;
}
.eventos img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 700px;
  border-radius: 8px;
}
.eventos-texto {
  display: grid;
  align-content: start;
}
.eventos-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}
.eventos-lista li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 0.85rem;
}
.eventos-lista li img {
  width: 24px;
  height: 24px;
}
@media (max-width:800px) {
  .eventos-bg {
    box-shadow: initial;
  }
  
  .eventos {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  
  .eventos > img {
    display: none;
  }
  .eventos .subtitulo {
    padding-top: 40px;
  }
  
}