.introducao-bg {
  background-color: #A60321;
  box-shadow: inset 0 -80px #fff;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  color: #fff;
  align-items: start;
  padding-top: 60px;
  margin-bottom: 60px;
}
.introducao h1 {
  font-size: 3.2rem;
  margin-bottom: 40px;
  padding-top: 60px;
}
.introducao p {
  margin-bottom: 40px;
}
.introducao img {
  border-radius: 80px;
}