.unidades-bg {
  background-color: #a60321;
}
.unidades {
  color: #fff;
}
.unidades h2 {
  font-size: 3rem;
  padding-top: 40px;
  padding-bottom: 20px;
}
.unidades-local {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 60px;
  gap: 60px;
}
.unidades-local li {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D92344;
  min-width: 230px;
}
.unidades-local li:last-child {
  border-right: none;
}
.unidades-local li h3 {
  display: flex;
  align-items: center;
}
.unidades-local li h3::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url("../../img/icones/localMapa.svg");
  margin-right: 5px;
}
.unidades-local p {
  flex: 1;
  font-size: 0.85rem;
  max-width: 300px;
  box-sizing: border-box;
}
.unidades-local img {
  border-radius: 8px;
  max-width: 300px;
}

@media (max-width: 850px) {
  /* .unidades-local {
    gap: 40px;
  } */
  .unidades-local li:nth-child(2) {
    border-right: none;
  }
}
@media (max-width:560px) {
  .unidades-local li:nth-child(1) {
    border-right: none;
  }
}